.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: linear-gradient(to bottom left, #ffffff  0%, #bbbbfc 0%);
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  transition: .2s;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 5px;
  }

  .title-name {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 175px;
    padding-top: 12px;
    font-size: 1.7em;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 1px 0 #ccccff,
    0 1.5px 0 #ccc,
    0 2px 0 #ccccff,
    0 2.5px 0 #ccccff,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(204, 204, 255, 0.3),
    0 3px 5px rgba(204, 204, 255, 0.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(204, 204, 255, 0.2),
    0 20px 20px rgba(204, 204, 255, 0.15);
    margin-top: 1px;
  }

  .logo {
    height: 60px;
    width: 110px;
  }

  .options2 {
    margin-top: 23px;
    margin-left: 5px;
    font-size: 1.15em;
    color: white;
    text-shadow: 0 1px 0 #414171,
    0 .5px 0 #ccccff,
    0 .75px 0 #fff,
    0 1px 0 #ccccff,
    0 1.25px 0 #ccccff,
    0 3px .5px rgba(0,0,0,.025),
    0 0 2.5px rgba(0,0,0,.025),
    0 1px 1.5px rgba(0,0,0,.025),
    0 1px 2.5px rgba(0,0,0,.01),
    0 2.5px 5px rgba(0,0,0,.0275),
    0 5px 5px rgba(0,0,0,.05),
    0 10px 10px rgba(0,0,0,.0175);
    font-weight: 700;
  }


  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
    padding-top: 14px;


    .option {
      padding: 10px 2px;
      cursor: pointer;
      color: white;
      font-family: 'Luckiest Guy', cursive;
      text-shadow: 0 1px 0 #414171,
      0 .5px 0 #ccccff,
      0 .75px 0 #fff,
      0 1px 0 #ccccff,
      0 1.25px 0 #ccccff,
      0 3px .5px rgba(0,0,0,.025),
      0 0 2.5px rgba(0,0,0,.025),
      0 1px 1.5px rgba(0,0,0,.025),
      0 1px 2.5px rgba(0,0,0,.01),
      0 2.5px 5px rgba(0,0,0,.0275),
      0 5px 5px rgba(0,0,0,.05),
      0 10px 10px rgba(0,0,0,.0175);
      font-size: .9em;
      margin-right: 10px;
      margin-top: 2px;
    }
  }
}

.nav {
  width: 100%;
  justify-content: center;
}

.nav_text {
  width: 100%;
  justify-content: space-around;
}


.scrolled {
  position: fixed;
  z-index: 5;
  height: 93px;
}

.nav-wrapper {
  height: 93px;
}



