body {
    font-family: 'Open Sans Condensed';

    background-color: white;

    /*background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);*/

}

a {
    text-decoration: none;
    color: black;
}


